@charset "utf-8";
@import "./defaults.css";

.cmm_wind_area .cmmWind{position: absolute; width: 100%; height: 100%; left: 0; top: 0;}
.cmm_wind_area .cmmWind .cw{position: absolute; left: 0; top: 0; width: 20px; height: 20px; background: url(http://sarahmhigley.com/static/images/leaf.svg) no-repeat; background-size: 100% auto;}
